.main-article {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.main-article h1 {
    margin: 0;
}
.main-article p {
    font-weight: 300;
}
 .main-article img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1em;
 }