*, *::after, *::before {
    box-sizing: border-box;
}

html, 
body {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans Lao Looped', sans-serif;
    background-color: #FAFAFA;
}

p {
    line-height: 1.5;
}
/* === Header and Navigations === */
header {
    background-color: #FFFFFF;
    width: 100%;
    display: flex;    
    justify-content: space-between;
    padding: 1em 5vw;
}

.logo {
    display: flex;
    gap: 0.2em;
    align-items: center;
    font-size: 1.3rem;
    text-decoration: none;
    color: #0E0E0E;
    font-weight: 900;
}

nav {
    display: flex;
    align-items: center;
}

nav a{
    margin-left: 1.5em;
    text-decoration: none;
    color: #090909;
    font-weight: 600;
    font-size: 0.80rem;
    text-transform: uppercase;
}

/* === Hero Section === */
.hero-section {
    background: url("../images/article-image-hero.png");
    background-size: cover;
    color: #FFFFFF;
    padding: 5em 5vw 2em 5vw;
}

.hero-section p,
.hero-section h1 {
    margin: 0;
    margin-bottom: 0.5em;
}

.hero-section a {
    text-decoration: none;
    color: #FFFFFF;
}

.date {
    font-weight: 300;
    font-size: 0.80rem;
}

/* === Article listing === */
.article-listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 2em auto;
}

.article {
    display: flex;
    flex-direction: column;
    margin-bottom: 3em;
}

.article img {
    margin-bottom: 1em;
}

.article h2,
.article p {
    margin: 0;
    margin-top: 0.6em;
}

.article-date,
.article-body {
    font-weight: 300;
}

.read-more-btn {
    background-color: inherit;
    border: none;
    text-decoration: underline;
    font-weight: bold;
}

.read-more-btn:hover {
    cursor: pointer;
}

footer {
    background-color: #202020;
    color: #FFFFFF;
    padding: 3em 0;
}

footer p {
    margin: 0;
    text-align: center;
}

footer p:first-child {
    font-weight: bold;
}

footer p:last-child {
    margin-top: 0.5em;
    font-weight: 300;
}

@media (min-width: 665px) {
    header {
        padding-bottom: 5em;
    }
    .hero-section {
        padding: 23em 5vw 5em 5vw;
    }

    .article-listing {
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 1fr));
        grid-gap: 1em;
        align-items: center;
        width: 90%;
        margin: 2em auto;
    }

    .read-more-btn {
        grid-column: 1 / -1;
    }

    .article-listing h2:first-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    .bio {
        display: grid;
        grid-template-columns: 150px 1fr;
        gap: 2em;
    }
}